<% if blogger_signed_in? %>
  Would you like to post a blog article?
<% end %>

<% if @articles != [] %>
  <ul>
    <%= @articles.each do |article| %>
      <li>
        article.content
      </li>
    <% end %>
  </ul>
<% else %>
  No blog posts have been made.
<%end%>