.u-form__btn--center {
  margin-left: calc(50% - 22.727272727%) !important;  /** (100 / 220) / 2 **/
}
.u-form__markdown_editor--hide {
  display: none;
}
.u-form__markdown_editor--short {
  height: 4rem !important;
}