.o-search {
  width: 86.6666666%; /** 260 / 300 **/
  margin: 0 6.66666666% 0.5rem 6.66666666%; /** 20 / 300 **/

  @media only screen and (min-width: 426px) {
    width: 96.153846153846%; /** 500 / 520 **/
    margin: 0 1.923076923077% 0.5rem 1.923076923077%; /** 10 / 520 **/
  }
  @media only screen and (min-width: 560px) {
    width: 93.548387096774%; /** 580 / 620 **/
    margin: 0 3.225806451613% 0.5rem 3.225806451613%; /** 20 / 620 **/
  }
  @media only screen and (min-width: 780px) {
    width: 97.590361445783%; /** 810 / 830 **/
    margin: 0 1.204819277108% 0.5rem 1.204819277108%; /** 10 / 830 **/
  }
}
.o-search__main {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.5rem;

  @media only screen and (min-width: 426px) {
    width: 48%; /** (240 / 500) **/
    margin-bottom: 1rem;
  }
  @media only screen and (min-width: 560px) {
    width: calc((100% - 1.5rem)/2); /** width - column gap **/
  }
  @media only screen and (min-width: 780px) {
    width: calc(33.3333333333% - 0.75rem); /** third width - margin - column gap/2 **/
  }
}

.o-search__options {
  display: none;
  width: 100%;
  
  padding: 0.2rem;

  background-color: #fcfcfc;
  border: solid 0.1rem #323232;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.o-toggle:checked ~ .o-search__options {
  display: inline-block;
}

