.o-article_container {
  background-color: #fcfcfc;
  color: #323232;
  text-decoration: none;

  -webkit-border-radius: 0 0 1em 1em;
  -moz-border-radius: 0 0 1em 1em;
  border-radius: 0 0 1em 1em;

  -webkit-box-shadow: 0.1em 0.1em 0.1em #323232;
  -moz-box-shadow: 0.1em 0.1em 0.1em #323232;
  box-shadow: 0.1em 0.1em 0.1em #323232;
}
.o-article_container:active {
  -webkit-box-shadow: -0.1em -0.1em 0.1em #323232;
  -moz-box-shadow: -0.1em -0.1em 0.1em #323232;
  box-shadow: -0.1em -0.1em 0.1em #323232;
}

.c-text {
  font-family: 'Roboto Slab', serif;
  margin: 0 10% 0 10%; /** 30 / 300 **/
  width: 80%; /** 240 / 300 **/
}

.c-article__title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 3.846154%; /** 10 / 260 **/
}
.c-article__content {
  margin: 0.5rem 3.846154%; /** 10 / 260 **/
  max-height: 6.75rem;
  overflow: hidden;
}
.c-article__username {
  width: 92.307692%; /** 240 / 260 **/
  height: auto;
  text-align: right;
  font-family: 'Dancing Script', cursive;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 3.846154%; /** 10 / 260 **/
}

.c-messages {
  font-family: 'Roboto Slab', serif;
  font-size: 1.4em;
  font-weight: bold;
}