.c-comments__cell {
  -webkit-box-shadow: inset 0.1rem 0.1em 0.1rem #f0f0f0;
  -moz-box-shadow: inset 0.1rem 0.1rem 0.1rem #f0f0f0;
  box-shadow: inset 0.1rem 0.1rem 0.1rem #f0f0f0;
}
.c-comments__name {
  width: 20%;
  border: 0.1rem solid #232323;
}
.c-comments__main {
  width: calc(80% - 6rem);
  border: 0.1rem solid #232323;
}
.c-comments__time {
  width: 6rem;
  border: 0.1rem solid #232323;
}