.c-comments__name {
  width: 20%;
  border: 0.1rem solid #232323;
}
.c-comments__main {
  width: calc(80% - 6rem);
  border: 0.1rem solid #232323;
}
.c-comments__time {
  width: 6rem;
  border: 0.1rem solid #232323;
}