.c-flash {
  max-width: 80%; /** 240 / 300 **/
  margin: 0.5rem 0 0.5rem 10%;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  
  @media only screen and (min-width: 426px) {
    width: 92.307692307692%;  /** 480 / 520 **/
    margin: 0.5rem 0 0.5rem 3.846153846154%; /** 20 / 520 **/
  }
}
.c-flash__error {
  color: red;
}
.c-flash__success {
  color: green;
}