.c-sign_form__label {
  display: inline-block;
  vertical-align: text-bottom;
  @media only screen and (min-width: 426px) {
    width: 49%; /** 200 / 400  split among width and margin right **/
    margin: 0.25rem 1% 0 0;
  }
}
.c-form__input {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.25rem;
}
.c-sign_form__input {
  @media only screen and (min-width: 426px) {
    width: 50%; /** 200 / 400 **/
    margin-top: 0.25rem;
  }
  @media only screen and (min-width: 560px) {
    margin-bottom: 0.75rem;
  }
}
.c-form__field {
  font-size: 1rem;
  padding: 0 0.25rem;
  height: 2rem;
  width: 100%; 
  border: solid 0.1rem #323232;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.c-btn {
  display: inline-block;
  background-color: #31abff;
  color: #f0f0f0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.c-btn:focus {
  outline: none;
}
.c-btn:active {
  -webkit-box-shadow: inset 0.1rem 0.1rem 0.1rem lighten(#323232, 50%);
  -moz-box-shadow: inset 0.1rem 0.1rem 0.1rem lighten(#323232, 50%);
  box-shadow: inset 0.1rem 0.1rem 0.1rem lighten(#323232, 50%);
}

.c-form__btn {
  width: 45.4545454%; /** 100 / 220 **/
  margin: 0.5rem 0 0 9.0909%; /*calc(8.295085% - 0.21em)*/ /** 20 / 220 = 9.0909% too large because of shadows, iterated to sf's 8.295085% - **/

  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem lighten(#323232, 50%);
  -moz-box-shadow: 0.1rem 0.1rem 0.1rem lighten(#323232, 50%);
  box-shadow: 0.1rem 0.1rem 0.1rem lighten(#323232, 50%);

  -webkit-text-shadow: -0.025rem -0.025rem 0 #323232;
  -moz-text-shadow: -0.025rem -0.025rem 0 #323232;
  text-shadow: -0.025rem -0.025rem 0 #323232;
  
  @media only screen and (min-width: 426px) {
    width: 31.818181818%; /** 140 / 440 **/
    margin: 0.5rem 2.2727272727% 0.5rem 11.3636363636%; /** 10 / 440, 50 / 440 the left will now be 50 and right 60 **/
  }
}
.c-sign_form__btn {
  @media only screen and (min-width: 426px) {
    margin-right: 0;
  }
}

.c-form__btn--alt {
  background-color: #f0f0f0;
  color: #323232;
  margin-left: 0;

  -webkit-text-shadow: -0.025rem -0.025rem 0 #fcfcfc;
  -moz-text-shadow: -0.025rem -0.025rem 0 #fcfcfc;
  text-shadow: -0.025rem -0.025rem 0 #fcfcfc;
  @media only screen and (min-width: 426px) {
    margin-left: 11.3636363636%; /** 70 / 440 **/
  }
}
.c-form__btn--full {
  margin: 0;
  width: 100%;
  height: 2rem;
  
  @media only screen and (min-width: 426px) {
    width: 48%; /** 240 / 500 **/
    margin-left: 4%; /** 20 / 500 **/
  }
  @media only screen and (min-width: 560px) {
    width: calc((100% - 1.5rem)/2); /** (width - column gap) / 2 **/
    margin-left: 1.5rem; /** 20 / 500 **/
  }
}
.c-form__btn--small {
  font-size: 1rem;
  width: 90%;
  margin: 0.1rem 5% 0.2rem 5%;
  background-color: #f0f0f0;
  color: #323232;
}
.c-form__text {
  margin-bottom: 0.25rem;
}

.c-btn--wide {
  display: inline-block;
  width: 86.6666666%; /** 260 / 300 **/
  margin: 0.75rem 6.66666666% 0.5rem 6.66666666%; /** 20 / 300 **/

  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem lighten(#323232, 50%);
  -moz-box-shadow: 0.1rem 0.1rem 0.1rem lighten(#323232, 50%);
  box-shadow: 0.1rem 0.1rem 0.1rem lighten(#323232, 50%);

  -webkit-text-shadow: -0.025rem -0.025rem 0 #323232;
  -moz-text-shadow: -0.025rem -0.025rem 0 #323232;
  text-shadow: -0.025rem -0.025rem 0 #323232;  

  @media only screen and (min-width: 426px) {
    width: 92.307692307692%; /** 480 / 520 **/
    margin: 0.75rem 3.846153846154% 0.5rem 3.846153846154%; /** 20 / 520 **/
  }
  @media only screen and (min-width: 560px) {
    width: 87.096774193548%; /** 540 / 640 **/
    margin: 0.75rem 6.451612903226% 0.25rem 6.451612903226%; /** 40 / 620 **/
  }
}
.o-toggle:checked ~ .c-btn--wide {
  display: none;
}
.c-btn--fit {
  @media only screen and (min-width: 426px) {
    width: 46.153846153846%; /** 240 / 520 **/
    margin: 0.75rem 0 0.5rem 3.846153846154%; /** 20 / 520 **/
  }
  @media only screen and (min-width: 560px) {
    width: calc((93.548387096774% - 1.5rem)/2); /** width - margins - column gap / 2 **/
    margin: 0.75rem 0 0.5rem 1.5rem; /** same as gap in o-article-wrapper **/
  }
}
.c-btn__article--fit {
  @media only screen and (min-width: 560px) {
    width: 41.935483870968%; /** 260 / 620 **/
    margin: 0.75rem 0 0.5rem 3.225806451613%; /** 20 / 620 **/
  }
}

.c-form__title_field {
  text-align: left;
  font-size: inherit;
  width: calc(100% - 3rem); 
  max-width: 14.75rem;
  border: solid 0.1rem #323232;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.c-markdown_toggle {
  margin-left: calc(50% - 3rem); /** 50% - half estimated content size 6em **/

  @media only screen and (min-width: 426px) {
    margin: 0 0 0.5rem calc(29.545454545% - 3rem); /** 130 / 440 - half estimated content size 6rem **/
  }
}
.c-wysiwyg_toggle {
  margin: 0 0 0.5rem calc(50% - 3rem); /** 50% - half estimated content size 6em **/

  @media only screen and (min-width: 426px) {
    margin-left: calc(29.545454545% - 3rem); /** 130 / 440 - half estimated content size 6em **/
  }
}

.c-form__markdown_editor {
  display: block;
  font-size: 1rem;
  border: solid 0.1rem #323232;
  width: 100%;
  height: 8rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
}
.c-markdown_toggle:checked ~ .c-form__markdown_editor {
  display: block;
}

.c-form__wysiwyg_editor {
  display: none;
}
.c-wysiwyg_toggle:checked ~ .c-form__wysiwyg_editor {
  display: block;
}


