.c-form__input {
  width: 100%;
  margin-bottom: 0.25rem;
}
.c-form__field {
  font-size: inherit;
  width: 100%; 
  border: solid 0.05rem #323232;
  box-sizing: border-box;
}

.c-btn {
  background-color: #31abff;
  color: #f0f0f0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.c-form__btn {
  display: inline-block;
  float: left;
  width: 45.4545454%; /** 100 / 220 - shadow width**/
  margin: 0.5rem 0 0 9.0909%; /*calc(8.295085% - 0.21em)*/ /** 20 / 220 = 9.0909% too large because of shadows, iterated to sf's 8.295085% - **/

  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem #323232;
  -moz-box-shadow: 0.1rem 0.1rem 0.1rem #323232;
  box-shadow: 0.1rem 0.1rem 0.1rem #323232;

  -webkit-text-shadow: -0.025rem -0.025rem 0 #323232;
  -moz-text-shadow: -0.025rem -0.025rem 0 #323232;
  text-shadow: -0.025rem -0.025rem 0 #323232;
}
.c-form__btn:focus {
  outline: none;
}
.c-form__btn:active {
  -webkit-box-shadow: -0.1rem -0.1rem 0.1rem #323232;
  -moz-box-shadow: -0.1rem -0.1rem 0.1rem #323232;
  box-shadow: -0.1rem -0.1rem 0.1rem #323232;
}
.c-form__btn--cancel {
  background-color: #f0f0f0;
  color: #323232;
  margin-left: 0;

  -webkit-text-shadow: -0.025rem -0.025rem 0 #fcfcfc;
  -moz-text-shadow: -0.025rem -0.025rem 0 #fcfcfc;
  text-shadow: -0.025rem -0.025rem 0 #fcfcfc;
}
.c-form__btn--subscribe {
  margin: 0;
  width: 100%;
}
.c-form__text {
  margin-bottom: 0.25rem;
}

.c-btn__new_article {
  width: 86.6666666%; /** 260 / 300 **/
  margin: 0.75rem 6.66666666% 0.5rem 6.66666666%; /** 20 / 300 **/

  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem #323232;
  -moz-box-shadow: 0.1rem 0.1rem 0.1rem #323232;
  box-shadow: 0.1rem 0.1rem 0.1rem #323232;

  -webkit-text-shadow: -0.025rem -0.025rem 0 #323232;
  -moz-text-shadow: -0.025rem -0.025rem 0 #323232;
  text-shadow: -0.025rem -0.025rem 0 #323232;
}

.c-form__title {
  font-size: inherit;
  width: calc(100% - 3rem); 
  border: solid 0.05rem #323232;
  box-sizing: border-box;
}
.c-form__selectors {
  text-align: center;
  margin-bottom: 0.5rem;
}
.c-form__markdown_editor {
  font-size: 1rem;
  border: solid 0.05rem #323232;
  width: 100%;
  height: 8rem;
}



