/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin-top: 8em;
  text-align: center;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.flash_messages {
  color: red;
}

.nav_bar {
  z-index: 1;
  background-color: black;
  color: white;
  width: 100%;
  height: 8em;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}
.sub_nav {
  width: 100%;
  height: 50%;
  flex: 1;
  display: flex;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  background-color: white;
  font-size: 1em;
  color: black;
  padding: 0.075em 0.4em;
  border-style: solid;
  border-width: 0.1em;
  border-color: black;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
}
.btn:hover {
  background-color: black;
  color: white;
}
.btn:active {
  background-color: white;
  color: black;
}

.nav_bar .btn, .nav_bar .btn:link, .nav_bar .btn:visited {  
  flex: 1;
  display: inline-block;
  height: 100%;
  padding: none;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 1.5em;
  text-decoration: none;
  vertical-align: center;
}
.nav_bar .btn:link, .nav_bar .btn:visited {  
  color: inherit;
  line-height: 2.7em;
}
.nav_bar .btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.nav_bar .btn:active {
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}
.nav_bar .btn.left {
  float: left;
}

.form {
  z-index: 1;
  top: 8em;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  position: fixed;
}
.form_container {
  margin: 0 auto;
  text-align: right;
  display: inline-block;
  padding: 0.75em 0;
}
.form_item {
  margin: 0.5em 0;
}
.form_item.long {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.long_item {
  flex: 1;
}

.form .btn {  
  display: inline-block;
  height: 100%;
  padding: 0.1em 0.5em;
  border: none;
  float: right;
  background-color: inherit;
  color: inherit;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.form .btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.form .btn:active {
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}

.main {
  padding: 10px 0;
  width: 100%;
  display: inline-block;
}

.title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.25em;
}

::-webkit-scrollbar { 
  display: vertical; 
}

@media only screen and (min-width: 426px) {
  body {
    background-color: blue;
    font-size: 1.4em; 
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: red;
    font-size: 1.8em; 
  }
}
