// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.nav_bar {
  margin: auto;
  margin-bottom: 5px;
  background-color: #D0D0D0;
  border-radius: 5px;
  width: 75%;
  height: 40px;
  display: inline-block;
  padding: 0 5px 0 5px;
}
.btn, .btn:link, .btn:visited {  
  display: inline-block;
  color: #000000;
  background-color: #D0D0D0;
  height: 100%;
  padding: 0 10px;
  border: none;
  float: right;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.btn:link, .btn:visited {  
  line-height: 40px;
}
.btn:hover {
  background-color: #E0E0E0;
  cursor: pointer;
}
.btn:active {
  background-color: #989898;
  cursor: pointer;
}
.btn.left {
  float: left;
}
.main {
  padding: 10px 0;
  background-color: #B0B0B0;
  border-radius: 15px;
  width: 60%;
  display: inline-block;
}
.flash_messages {
  color: red;
}
.main .btn, .main .btn:link, .main .btn:visited {
  margin: 10px auto;
  display: inline-block;
  font-size: 1em;
  background-color: #B0B0B0;
  height: 35px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: white;
  float: none;
}
.main .btn:link, .main .btn:visited {
  height: 33px;
  line-height: 33px;
}
.main .btn:hover {
  background-color: #E0E0E0;
}
.main .btn:active {
  background-color: #989898;
}
.container {
  margin: 5px auto 10px auto;
  padding: 5px;
  background-color: #D0D0D0;
  border-radius: 15px;
  width: 75%;
  display: block;
}
.main .container .btn, .main .container .btn:link, .main .container .btn:visited {
  display: inline-block;
  background-color: #D0D0D0;
  height: 35px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: white;
}
.main .container .btn:link, .main .container .btn:visited {
  height: 33px;
  line-height: 33px;
}
.main .container .btn:hover {
  background-color: #E0E0E0;
}
.main .container .btn:active {
  background-color: #989898;
}
.article_title {
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
}
.article_display {
  margin: 0 auto;
  width: 80%;
}